/docs/* @Csaba79-coder @futopeter @kapusgabor64 @Rol1991
/src/main/* @Csaba79-coder @futopeter @kapusgabor64 @Rol1991
/src/test/* @Csaba79-coder @futopeter @kapusgabor64 @Rol1991
/pom.xml @Csaba79-coder @futopeter @kapusgabor64 @Rol1991