@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster', cursive;
}

h1, h2 {
    text-align: center;
}

#under-development {
    color: red;
}

/*Navbar*/
nav{
    background-color: rgb(253, 207, 0);
}

.card{
    box-shadow: 5px 5px 10px rgb(179, 179, 179);
}

.card:hover{
    box-shadow: 5px 5px 10px rgb(114, 114, 114);
}

.card img{
    height: 233px;
}

.center-table {
    margin: 0 auto; /* Set left and right margin to auto */
    border-collapse: collapse;
    width: 75%; /* Set a width to control the size of the centered content */
}

.center-table th, .center-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.center-table th {
    background-color: #f2f2f2;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .center-table {
        width: 80%; /* Adjust the width for smaller screens */
    }

    .card img {
        height: auto; /* Make the image height adjust automatically */
    }
}
