<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
<div th:replace="navbar"></div>
<h1>Címek</h1>
<div class="center-table">
    <th:block th:if="${addresses.empty}">
        <p>Nincs rendelkezésre álló adat</p>
    </th:block>
    <th:block th:unless="${addresses.empty}">
        <table>
            <thead>
            <tr>
                <th>Ország</th>
                <th>Város</th>
                <th>Cím</th>
                <th>Irányítószám</th>
                <th>Kiválaszt</th>
                <th>Módosít</th>
                <th>Töröl</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.getCountry()}"></td>
                <td th:text="${address.getCity()}"></td>
                <td th:text="${address.getLine()}"></td>
                <td th:text="${address.getPostalCode()}"></td>
                <td>
                    <button type="button" class="select-button">Select</button>
                </td>
                <td>
                    <button type="button" class="update-button">Update</button>
                </td>
                <td>
                    <button type="button" class="delete-button">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
</body>
</html>