<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Title ...</title>
</head>
    <body>
        <h1>Apartmanok</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Floor number</th>
                <th>Room number</th>
                <!-- Add more columns as needed -->
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the list of apartments and display each one -->
            <tr th:each="apartment : ${apartments}">
                <td th:text="${apartment.id}">ID</td>
                <td th:text="${apartment.floorNumber}">Name</td>
                <td th:text="${apartment.roomNumber}">Location</td>
                <!-- Add more columns as needed -->
            </tr>
            </tbody>
        </table>
    </body>
</html>