<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Title ...</title>
</head>
    <body>
        <div th:replace="navbar"></div>
        <h1>Webex Apartman</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nulla. Ipsum laudantium autem natus
            veritatis fugiat praesentium recusandae suscipit debitis quidem architecto. Voluptate libero
            facere recusandae ad, ullam atque consequatur.</p>
        <p>Dolores consectetur sunt laboriosam ratione obcaecati perferendis eaque incidunt nulla aperiam
            voluptatibus iusto, quo eligendi labore officiis quis pariatur illo sit nisi! Pariatur, modi
            molestias. Iure fugit earum unde consequuntur?</p>
        <p>Atque minus, sit, quisquam aperiam modi perferendis adipisci saepe, voluptatem error aliquam
            eligendi veritatis reprehenderit explicabo maiores voluptates quaerat totam? Labore in amet,
            architecto tempore doloribus deleniti quod enim dolorem?</p>
    </body>
</html>