<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
<div th:replace="navbar"></div>
<h1>Foglalások</h1>
<div class="center-table">
    <th:block th:if="${reservations.empty}">
        <p>Nincs rendelkezésre álló adat</p>
    </th:block>
    <th:block th:unless="${reservations.empty}">
        <table>
            <thead>
            <tr>
                <th>Foglalás kezdete</th>
                <th>Foglalás vége</th>
                <th>Szoba száma</th>
                <th>Felhasználó vezetékneve</th>
                <th>Felhasználó keresztneve</th>
                <th>Felhasználó telefonszáma</th>
                <th>Felhasználó email címe</th>
                <th>Kiválaszt</th>
                <th>Módosít</th>
                <th>Töröl</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.getStartDate()}"></td>
                <td th:text="${reservation.getEndDate()}"></td>
                <td th:text="${reservation.getApartment().getRoomNumber()}"></td>
                <td th:text="${reservation.getUser().getLastName()}"></td>
                <td th:text="${reservation.getUser().getFirstName()}"></td>
                <td th:text="${reservation.getUser().getPhoneNumber()}"></td>
                <td th:text="${reservation.getUser().getEmail()}"></td>
                <td>
                    <button type="button" class="select-button">Select</button>
                </td>
                <td>
                    <button type="button" class="update-button">Update</button>
                </td>
                <td>
                    <button type="button" class="delete-button">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
</body>
</html>