<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapcsolat</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Kozos CSS -->
    <link rel="stylesheet" href="../style.css">

    <!-- Egyeni CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="../rooms/index.html">Webex Apartman</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../rooms/index.html">Szobáink</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../contact/contact.html">Kapcsolat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../aboutus/aboutus.html">Rólunk</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-lg-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.4841390301935!2d19.076934976716686!3d47.48048119667769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dcf8e8c85e19%3A0xe8cf1b425e2ce5be!2zV2VibGVyIE9rdGF0w7NzdMO6ZGnDsw!5e0!3m2!1shu!2shu!4v1713099804715!5m2!1shu!2shu"
                    width="400" height="300" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-12 col-lg-7">
            <table class="table table-striped">
                <tr>
                    <th>Nev</th>
                    <td>Webex Apartman</td>
                </tr>
                <tr>
                    <th>Telefonszam</th>
                    <td>+36/30-444-4444</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>apartman@webex.hu</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus harum unde consequuntur, cum
                ad nam amet, non animi cumque accusantium nisi eum odit sit perspiciatis dolorem facere, fuga
                fugit magnam!</p>
            <p>Illo obcaecati minus unde assumenda praesentium quidem vero quam delectus placeat quibusdam
                perspiciatis facilis soluta ullam quaerat ducimus et facere atque amet quasi, quo doloribus aut
                deleniti. Quaerat, nobis totam?</p>
            <p>Nihil saepe alias eum aspernatur sint cupiditate repellendus, architecto odio, deserunt eaque
                voluptate repellat incidunt non dolor maxime veritatis dolores perferendis? Mollitia distinctio
                nostrum libero aspernatur harum animi quaerat labore!</p>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>